html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
  background: #f1f1f1 url(../img/bg_apps.png) repeat-x;
}

#work-container {
    margin: 0 auto;
}

/**
 * Grid container
 */
#work-list {
  list-style-type: none;
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 0;
  padding: 0;
}

/**
 * Grid items
 */
#work-list li {
  width: 200px;
          border-radius: 2px;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  cursor: pointer;
  padding: 4px;
}

#work-list li.inactive {
  visibility: hidden;
  opacity: 0;
}

#work-list li img {
  display: block;
}

/**
 * Grid item text
 */
#work-list li p {
  color: #666;
  font-size: 12px;
  margin: 7px 0 0 7px;
}

.gray-box {
    width: 100%;
    border-radius: 8px;
    background: #FFF;
    box-shadow: rgba(0,0,0,.27) 0 1px 3px,#DCDCDC 0 1px 0,#DDD 0 -1px 0;
}

.hide {
    display: none;
}





