.hide {
    display: none;
}

.bg-img-center {
    background-position: center center;
    background-repeat: no-repeat;
}

.rotate-n-30 {
	transform: rotate(-30deg);
	-webkie-transform: rotate(-30deg);
}

.no-select{
	-moz-user-select: none; /*火狐*/
	-webkit-user-select: none; /*webkit浏览器*/
	-ms-user-select: none; /*IE10*/
	-khtml-user-select: none; /*早期浏览器*/
	user-select: none;
}